<div class="reset-password-section">
    <div class="container-fluid">
        <div class="card shadow">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <h4 class="text-dark text-muted">Log in</h4>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmailLogIn" class="form-label">Email address</label>
                        <input type="email" class="form-control" aria-describedby="emailLogIn" name="inputEmailLogIn"
                            [(ngModel)]="email">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="resetPassword()">Send reset mail</button>

                </form>
            </div>
        </div>
    </div>
</div>