<div class="form-header">
  
    <input #myInput type="text" placeholder="Search for products..." class="au-input au-input-xl"
    (keyup.enter)="doSearch(myInput.value)" />
    
    <button (click)="doSearch(myInput.value)" class="au-btn-submit">
      Search
    </button>

    <a *ngIf="currentUser$ | async as user; else loginButton" style = "margin-left: 100px;">
      <p style="margin-left: 50px;">Hello {{ user.email }} </p>
      <button class="au-btn-sec" (click)="signOut()">Sign Out</button>
      
      <a *ngIf="user.displayName == 'Marin Jurlina'">
        <div class="dropdownCSS">
          <button class="dropbtnCSS">Admin Tools</button>
          <div class="dropdown-contentCSS">
            <a href="/add-product" style="margin-left: 10px;">Add a product</a>
            <a href="/edit-product" style="margin-left: 10px;">Edit a product</a>
          </div>
        </div>
      </a>
        
      <button class="au-btn-sec" routerLink="order-history" style="margin-left: 10px;">Order history!</button>
    </a>
    <ng-template #loginButton>
      <a>Hello Guest!</a>
      <button class="au-btn-sec" routerLink="/login">Log in</button>
      <button class="au-btn-sec" routerLink="/register">Register</button>
    </ng-template>
</div>
